body {
    background-color: black;
    font: normal 20pt Arial;
}

header {
    color: whitesmoke;
    text-align: center;
}

section {
    background: gray;
    border-radius: 10px;
    padding: 10px;
    width: 210px;
    margin: auto;
    color: white;
}

td {
    height: 70px;
    width: 70px;
}


